/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
/* Navbar */
.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.8
}

/* message text in top navbar */
.game-message {
  font-size: 22px;
}

/* Sticky footer */
.Site {
  /* display */
  min-height: 100vh;
  flex-direction: column;
}

.main-content-section {
  flex: 1;
  min-height: 100vh;
}